/*
 CSS Credit: http://www.templatemo.com
*/
/* 
Light Blue Template 
http://www.templatemo.com/preview/templatemo_029_light_blue 
*/
body {
	margin: 0;
	padding:0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	color: #444444;
	background: #000000;
}
a:link, a:visited { color: #83bb0a; text-decoration: none; font-weight: bold;} 
a:active, a:hover { color: #83bb0a; text-decoration: none; font-weight: bold; }
h1 {
	margin:5px 0px 10px 0px;
	padding-bottom: 8px;
	font-weight: bold;
	font-size: 18px;
	color:#05cce1;
}
h2 {
	margin:0px 0px 10px 0px;
	font-weight: bold;
	font-size: 16px;
	color:#fff;
	height: 26px;
	width: 366px;
	padding-top: 5px;
	padding-left: 25px;
	background: url(/images/home/templatemo_h2.jpg) no-repeat;
}
h3 {
	margin:0px 0px 0px 0px;
	padding-top: 15px;
	padding-left: 0px;
	font-weight: bold;
	font-size: 16px;
	width: 227px;
	height: 52px;
	color:#fff;
	background: url(/images/home/templatemo_box.jpg) no-repeat;
	text-align: center;
}
h4 {
	margin:0px 0px 10px 0px;
	font-weight: bold;
	font-size: 15px;
	color:#fff;
	height: 26px;
	width: 230px;
	padding-top: 5px;
	padding-left: 25px;
	background: url(/images/home/templatemo_h4.jpg) no-repeat;
}
#templatemo_container {
	margin: auto;
	width: 800px;
}
#templatemo_header {
	margin: auto;
	width: 800px;
	height: 171px;
	color: #fff;
/*	background: url(/images/home/templatemo_header.jpg) no-repeat; */
}
#templatemo_header_upper {
	float: left;
	padding-left: 160px ;
	padding-top: 40px;
	width: 700px;
	height: 50px;
	line-height: normal;
	font-size: 30px;
	font-weight: bold;
}
#templatemo_header_lower {
	float: left;
	padding-top: 40px;
	padding-left: 170px ;
	width: 700px;
	height: 50px;
	font-size: 13px;
}
#templatemo_header_lower span {
	font-weight: bold;
}
.templatemo_menu {
	margin: auto;
	width: 800px;
	height: 49px;
	background: url(/images/home/templatemo_menu.jpg) no-repeat;
	color: #FFFFFF;
	font-weight: bold;
}
.templatemo_menu ul {
	margin: 0px;
	list-style: none;
	padding-left: 100px;
}
.templatemo_menu li {
	display: inline;
}
.templatemo_menu li a{
	float: left;
	padding: 10px 0px;
	width: 98px;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
}
.templatemo_menu li a:hover, .templatemo_menu li .current{
	color: #000;
	background: url(/images/home/templatemo_hover.jpg) no-repeat;
}
#templatemo_content {
	float: left;
	width: 800px;
	padding-bottom: 30px;
	background: url(/images/home/templatemo_pg_bg.jpg) repeat-y;
}
#templatemo_top {
	width: 800px;
	height: 32px;
	margin: auto;
}
#templatemo_left {
	margin: 0px;
	float: left;
	margin-left: 80px;
	width: 380px;
	text-align: justify;
}
#templatemo_left img {
	float: left;
	padding-right: 10px;
	display: inline;
} 
#templatemo_right {
	float: right;
	width: 230px;
	margin-right: 80px;
	text-align: justify;
}
#templatemo_right p {
	padding-left: 15px;
	margin-top: 5px;
}
#templatemo_footer {
	float: left;
	width: 800px;
	height: 32px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	padding-top: 40px;
	background: url(/images/home/templatemo_footer.jpg) no-repeat;
}
#detail_left {
	margin: 0px;
	float: left;
	margin-left: 80px;
	width: 480px;
	text-align: justify;
}
#detail_left img {
	float: center;
	padding-right: 10px;
	display: inline;
} 
#detail_right {
	float: right;
	width: 130px;
	margin-right: 80px;
	text-align: justify;
}
#detail_right p {
	padding-left: 15px;
	margin-top: 5px;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 8px 20px 8px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}